<a href="https://colab.research.google.com/github/SeamusFeeney36/In-class-1-/blob/main/In_class_Assignments_Seamus_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cylinder area calculator

In [ ]:
pi = 3.14
radius = float(input('Please Provide radius:'))
height = float(input('Please Provide height:'))
pi = 3.14

Area = (2 * pi * (radius ** 2)) + (2 * pi * radius * height)
print(f'Area of a Cylinder ={Area} sq. ft')

Please Provide radius:5
Please Provide height:10
Area of a Cylinder =471.0 sq. ft

Numerical calculator

In [ ]:
number1 = float(input("Please provide first number: "))
sign = input("Please provide operator (+, -, *, /, //, **, %): ")
number2 = float(input("Please provide second number: "))

if sign == '+':
  print(f'{number1} + {number2} = {number1 + number2}')
elif sign =='-':
  print(f'{number1} - {number2} = {number1 - number2}')
elif sign =='*':
  print(f'{number1} * {number2} = {number1 * number2}')
elif sign =='/':
  print(f'{number1} / {number2} = {number1 / number2}')
elif sign =='//':
  print(f'{number1} // {number2} = {number1 // number2}')
elif sign =='**':
  print(f'{number1} ^ {number2} = {number1 * number2}')
elif sign =='%':
  print(f'{number1} mod {number2} = {number1 % number2}')

Please provide first number: 2
Please provide operator (+, -, *, /, //, **, %): +
Please provide second number: 2
2.0 + 2.0 = 4.0

Parking garage

In [ ]:
for hour in range (1,9):
  fee = 5 +2.5*hour
  if fee <= 10:
    fee = 10.0
  elif fee >= 20:
    fee = 20.0
  print(hour, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

Movie theater

In [ ]:
print ('(Ad$)','\t','(Profit$)')
for admoney in range(0, 225, 25):
    additional = round(2 * (admoney)**.5)
    profit = (20 + additional) * 10  - 200 - admoney
    print(admoney, '\t',  profit)

(Ad$) 	 (Profit$)
0 	 0
25 	 75
50 	 90
75 	 95
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

Rock-Paper-Scissors

In [ ]:
play = input("Do you want to play the Game? (yes/no)")

while play == 'yes':
  p1 = input('Player 1 - Choose between rock/paper/scissors: ')
  p2 = input('Player 2 - Choose between rock/paper/scissors: ')
  if p1 == p2:
    print('Draw')
  elif((p1 == 'rock' and p2 == 'paper') or
   (p1 == 'paper' and p2 == 'scissors') or
    (p1 == 'scissors' and p2 == 'rock')):
    print('Player 2 wins')
  else:
    print('Player 1 wins')
  play = input('Do you want to play the Game? (yes/no)')
else:
  print('Game Over')

Do you want to play the Game? (yes/no)yes
Player 1 - Choose between rock/paper/scissors: rock
Player 2 - Choose between rock/paper/scissors: paper
Player 2 wins
Do you want to play the Game? (yes/no)scissor
Game Over

Append items to list iteratively

In [ ]:
lst = []
num = float(input('Add Numbers: '))

while num != 0:
  lst.append(num)
  num = float(input('Add Numbers: '))

lst.sort(reverse = True)
print(lst)

Add Numbers: 3
Add Numbers: 56
Add Numbers: 8
Add Numbers: 4
Add Numbers: 0
[56.0, 8.0, 4.0, 3.0]

Dynamic dictionary of number:month pairs

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]] = names[idx]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

Dynamic dictionary; 5 distinct key:value pairs

In [ ]:
counts = {}

while len(counts) < 5:
  key = input('Give a string: ')
  if key not in counts:
    counts[key] = 1
  else:
    counts[key] = counts[key] + 1

counts

Give a string: a
Give a string: b
Give a string: c
Give a string: d
Give a string: e

{'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1}

Parking garage: calcFee function

In [ ]:
def calcFee(hours):
  fee = 5 +2.5 * hours
  if fee < 10:
    fee = 10.0
  elif fee >= 20:
    fee = 20.0
  print(f'Fee: {fee}$')
  return

def main():
  numHours = int(input('Enter number of hours: '))
  calcFee(numHours)

main()

Enter number of hours: 5
Fee: 17.5$

Recursive function: string reversal

In [1]:
def reverse(word):
  if len(word) == 1:
    return word
  else:
    return word[-1] + reverse(word[:-1])

reverse('Hello')

'olleH'

Parking garage/1st question of Assignment II using exception handling

In [4]:
def calcFee(hours):
  fee = 5 + 2.5*hours
  if fee <= 10:
    fee = 10.0
  elif fee >= 20:
    fee = 20.0
  print(f'Fee: {fee}$')

def main():
  try:
    numHours = int(input('Enter number of hours: '))
    calcFee(numHours)
  except ValueError:
    print('Please enter a valid number')
  except:
    print('Unknown error...')

if __name__ == '__main__':
  main()

Enter number of hours: 4
Fee: 15.0$

In [7]:
def getValues(n):
  L = []
  for i in range(n):
    weight = float(input("Enter weight: "))
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(f'The average weight is: {sum(alist[2:]) / len(alist[2:])}')
  except ZeroDivisionError:
    print(f'List {alist} is empty')

if __name__ == "__main__":
  try:
    n = int(input("Enter size of list: "))
    alist = getValues(n)
    calcAverage(alist)
  except ValueError:
    print('Please enter a valid number')

Enter size of list: 3
Enter weight: 9
Enter weight: 6
Enter weight: 6
The average weight is: 6.0

Greeting class

In [8]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last

  def display(self, formal=False):
    if formal:
      print(f'Hello {self.last} {self.first}')
    else:
      print(f'Hi {self.first}')

  def __str__(self):
    return f'{self.first}, {self.last}'

greeting = Greeting('Donald', 'Becker')
greeting.display(formal=True)
print(greeting)

Hello Becker Donald
Donald, Becker

Student class

In [9]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'You have already enrolled in {course}.')

  def get_courses(self):
    return self.courses

s1 = Student('Bob', 100)
s2 = Student('Alice', 101)
s1.name, s2.name

('Bob', 'Alice')

Classes Point and Rectangle

In [10]:
import math

class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    dx = (self.x - other.x)**2
    dy = (self.y - other.y)**2
    dist = math.sqrt(dx + dy)
    return(dist)

In [11]:
class Rectangle:
  def __init__(self):
    self.c1 = Point(0,0)
    self.c2 = Point(0,2)
    self.c3 = Point(2,0)
    self.c4 = Point(2,2)
    self.width = self.calculate_width()
    self.height = self.calculate_height()

  def calculate_width(self):
    return self.c1.distance(self.c2)

  def calculate_height(self):
    return self.c3.distance(self.c4)

  def area(self):
    return self.width * self.height

square = Rectangle()
square.area()

4.0